
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');


body,html{
height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

.text{
    font-family: 'Special Elite', cursive;
    text-align: center;
    color: blanchedalmond;
}
.heading-main{
    font-size: 70px;
    margin: 240px 0px 550px 50px ;
}

p{
      font-size: 35px;
    line-height: 4rem;
}
.col-12.copyright-paragraph p{
     font-size: 20px;
    font-style: bold;
    padding-bottom: 40px;
    text-align: center;
    color: blanchedalmond;
}

.copyright-paragraph{
    padding: 60px 0px 40px 0px ;
}

.heading{
    font-size: 50px;
    margin: 50px 0px 70px 0px
}
.heading-support{
    margin-top: 50px;
    padding-bottom: 70px;
    padding-top: 50px;
    font-size: 45px;
}

.row.box{
    padding-top: 70px;
    padding-bottom: 80px;
}

.box{
    background-color: rgba(0, 0, 0, 0.4);
}

body, html{
background-image: url(../img/handonshoulder-desktop2.jpg);
  background-position: unset;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    
}

.logo.row{
    
    padding: 55px 35px 15px 35px;
}
.col-6 {
	flex: unset;
    max-width: 50%;
    width: unset;
    display: block;
    margin: auto;
}
footer{
    margin-bottom: 80px;
}


.container-fluid.row.video{
    text-align: center;
}

@media (max-width: 768px) {
  [class*="col-"] {
    width: 100%;
  }

  .col-12.copyright-paragraph p{
     font-size: 14px;
    font-style: bold;
    padding-bottom: 40px;
    text-align: center;
    color: blanchedalmond;
}

body, html{
background-image: url(../img/handonshoulder-mobile.jpg);
  
    
}


footer .row.box{
    padding-bottom: 50px;
    margin-bottom: 20px;
}
.row.box{
    clear: both;
}
  .heading-main{
    font-size: 50px;
    margin: 110px 0px 150px 0px ;
}
p{
    font-size: 18px;
    line-height: 2.5rem;
    margin: 50px 0px 30px 0px ;
}
.heading-support{
    
    padding-bottom: 70px;
    padding-top: 50px;
    font-size: 30px;

}
.container-fluid {
	width: 100%;
	/* padding-right: 15px; */
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.logo-3.col-6.col-xs-10{
	padding-bottom: 30px;
	}
.logo-1.col-6.col-xs-10,
.logo-3.col-6.col-xs-10{
	flex: unset;
	max-width: 80%;
	/* width: unset; */
	display: block;
	margin: auto;
	
}
}
